@font-face {
  font-family: "iconfont"; /* Project id 4327399 */
  src: url('iconfont.woff2?t=1701422991765') format('woff2'),
       url('iconfont.woff?t=1701422991765') format('woff'),
       url('iconfont.ttf?t=1701422991765') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xitongcaozuorizhi:before {
  content: "\e695";
}

.icon-rizhiguanli:before {
  content: "\e646";
}

.icon-daohangfenlei:before {
  content: "\e61b";
}

.icon-qingdan:before {
  content: "\e645";
}

.icon-wifi:before {
  content: "\e7e0";
}

.icon-api:before {
  content: "\e7e1";
}

.icon-jiantou:before {
  content: "\e9cb";
}

.icon-suopingpingbao:before {
  content: "\ea54";
}

.icon-daohang:before {
  content: "\e640";
}

.icon-gongzuotai:before {
  content: "\e650";
}

.icon-wenzhang-xiugaishijian:before {
  content: "\e62d";
}

.icon-wenzhangliebiao:before {
  content: "\e62c";
}

.icon-guanliwenzhang:before {
  content: "\e671";
}

.icon-tianmaohaoquan:before {
  content: "\e600";
}

.icon-liebiao:before {
  content: "\e601";
}

.icon-liebiao1:before {
  content: "\e602";
}

.icon-kanguo:before {
  content: "\e604";
}

.icon-gonggao1:before {
  content: "\e605";
}

.icon-xinlang:before {
  content: "\e607";
}

.icon-weixin:before {
  content: "\e608";
}

.icon-tao:before {
  content: "\e609";
}

.icon-morentouxiang:before {
  content: "\e8cb";
}

.icon-alipay-circle-fill:before {
  content: "\e884";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-QQ-circle-fill:before {
  content: "\e887";
}

.icon-twitter-circle-fill:before {
  content: "\e88a";
}

.icon-taobao-circle-fill:before {
  content: "\e88b";
}

.icon-weibo-circle-fill:before {
  content: "\e88c";
}

.icon-zhihu-circle-fill:before {
  content: "\e88d";
}

.icon-signal-fill:before {
  content: "\e8e9";
}

.icon-gitee-fill-round:before {
  content: "\e686";
}

.icon-dashboard-fill:before {
  content: "\e849";
}

.icon-activity_fill:before {
  content: "\e6de";
}

.icon-addpeople_fill:before {
  content: "\e6e1";
}

.icon-empty_fill:before {
  content: "\e6f7";
}

.icon-group_fill:before {
  content: "\e6ff";
}

.icon-int:before {
  content: "\e763";
}

.icon-gonggao:before {
  content: "\e8c5";
}

.icon-pinglun:before {
  content: "\e8c6";
}

.icon-shoucang:before {
  content: "\e8c7";
}

.icon-remen:before {
  content: "\e8c9";
}

.icon-chuangzuo:before {
  content: "\e8ca";
}

.icon-decorate-fill:before {
  content: "\e852";
}

.icon-discount-fill:before {
  content: "\e853";
}

.icon-ic_mode_map:before {
  content: "\e60d";
}

.icon-send-fill:before {
  content: "\e888";
}

.icon-a-commandinquiry-fill:before {
  content: "\e889";
}

.icon-dynamic-filling:before {
  content: "\e68a";
}

.icon-intermediate-filling:before {
  content: "\e68b";
}

.icon-favorite-filling:before {
  content: "\e68c";
}

.icon-layout-filling:before {
  content: "\e68d";
}

.icon-history-filling:before {
  content: "\e68e";
}

.icon-filter-filling:before {
  content: "\e68f";
}

.icon-file-common-filling:before {
  content: "\e690";
}

.icon-news-filling:before {
  content: "\e691";
}

.icon-edit-filling:before {
  content: "\e692";
}

.icon-notification-filling:before {
  content: "\e693";
}

.icon-user-filling:before {
  content: "\e694";
}

.icon-switch-filling:before {
  content: "\e696";
}

.icon-work-filling:before {
  content: "\e697";
}

.icon-task-filling:before {
  content: "\e698";
}

.icon-folder-filling:before {
  content: "\e69a";
}

.icon-home-filling:before {
  content: "\e69b";
}

.icon-maichepin:before {
  content: "\e603";
}

.icon-zhuanchezhuanyongbeifen:before {
  content: "\e606";
}

.icon-a-business-icon-Bigpromotion:before {
  content: "\e822";
}

.icon-business-icon-feeds-logo-fill:before {
  content: "\e823";
}

.icon-business-icon-feeds-fill:before {
  content: "\e824";
}

.icon-business-icon-sales-center-fill:before {
  content: "\e825";
}

.icon-cart-add-fill:before {
  content: "\e826";
}

.icon-catalog-check-fill:before {
  content: "\e827";
}

.icon-catalog-fill:before {
  content: "\e828";
}

.icon-catalog-download-fill:before {
  content: "\e829";
}

.icon-customer-businessman-fill:before {
  content: "\e82a";
}

.icon-goods-inspection-fill:before {
  content: "\e82b";
}

.icon-logistics-land-transport-fill:before {
  content: "\e82c";
}

.icon-logistics-warehouse-fill:before {
  content: "\e82e";
}

.icon-order-inspection-fill:before {
  content: "\e833";
}

.icon-product-loaction-fill:before {
  content: "\e834";
}

.icon-all-fill:before {
  content: "\e84a";
}

.icon-folder-fill:before {
  content: "\e856";
}

.icon-email-fill:before {
  content: "\e857";
}

.icon-global-trade:before {
  content: "\e858";
}

.icon-home-fill:before {
  content: "\e859";
}

.icon-honor-fill:before {
  content: "\e85a";
}

.icon-layers-fill:before {
  content: "\e85c";
}

.icon-pin-fill:before {
  content: "\e863";
}

.icon-store-fill:before {
  content: "\e86a";
}

.icon-template-fill:before {
  content: "\e86e";
}

.icon-top-raning-fill:before {
  content: "\e86f";
}

.icon-user-defined-fill:before {
  content: "\e871";
}

.icon-video-fill:before {
  content: "\e872";
}

.icon-shujucanmou:before {
  content: "\e87e";
}

